---
import PageLayout from "../layouts/PageLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

/* TODO
About me, write a medium text about my resume.
not the perfect cv, but always interested in a myriad of technologies (embedded, linux, web, machine learning etc.)

Provide download for CV.
*/
---

<PageLayout pageTitle={pageTitle}>
	<p>Here are a few facts about me:</p>
	<ul></ul>

	<!-- <style is:global define:vars={{ skillColor }}>
	h1 {
		color: purple;
		font-size: 4rem;
	}
	.skill {
		color: var(--skillColor);
		font-weight: bold;
	}
</style> -->
</PageLayout>
