---
import ProjectPreview from "../components/ProjectPreview.astro";
import "../styles/global.css";
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "Jonas";
---

<PageLayout pageTitle={pageTitle}>
	<h1>Hey, my name is <span class="highlight">Jonas</span>.</h1>
	I am a professional software developer form germany who recently finished his
	master's degree in Computer Science at University of Stuttgart. If you want to
	learn more about me you can check out my recent projects or the about me section.

	<!-- go over all the stuff i have experience in (embedded, machine learning, scientific computing)
	 right now: fullstack, cloud engineering
	  -->
	<h2>Recent Projects</h2>
	These are some of the projects I have been working on in my free time ever since
	finishing my master's thesis.

	<div class="preview-container">
		<ProjectPreview
			title="Kimochi"
			description="My personal website you are visiting right now, built with Astro.js and deployed with Kubernetes, Helm, Github Actions and ArgoCD."
		/>
		<ProjectPreview
			title="Inventra"
			description="A React Native mobile app, that helps you manage your tool inventory, by scanning QR Codes and quickly assigning tools to projects or checking their status."
		/>
		<ProjectPreview
			title="Party Games"
			description="(WIP) Web-based minigames that you can play with your friends directly in the browser. Powered by Vue.js and Rust."
		/>
	</div>
</PageLayout>

<style>
	.highlight {
		background: -webkit-linear-gradient(
			var(--color-peach),
			var(--color-mauve)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.preview-container {
		margin-top: 1.2rem;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
	h2 {
		font-size: 30px;
		margin-bottom: 0.4rem;
	}
</style>
