---
import BaseLayout from "./BaseLayout.astro";

interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <slot />
    </main>
</BaseLayout>
