---
import "../styles/global.css";
const { title, description, url } = Astro.props;
---

{
    /* TODO
- add a preview picture with the usual parallax effect
- do a small animation where the div shifts to the right and reveals gradient background
*/
}

<a href={url}>
    <div class="outer">
        <div class="inner">
            <h2>{title}</h2>
            <span class="description">{description}</span>
        </div>
    </div>
</a>

<style>
    .outer {
        --parent-radius: 20px;
        --parent-padding: 2px;
        background: linear-gradient(
            to right,
            var(--color-peach) 0rem,
            var(--color-mauve) 100%
        );
        width: 80%;
        border-radius: var(--parent-radius);
        padding: var(--parent-padding);
        position: relative;
        overflow: visible;
        cursor: pointer;
    }
    .inner {
        padding: 0.6rem 1.2rem;
        background-color: var(--color-base);
        border-radius: calc(var(--parent-radius) - var(--parent-padding));
        margin-left: 0rem;
        position: relative;
        transition: margin-left 0.2s ease-out;
    }

    .inner:hover {
        margin-left: 0.2rem;
        transition: margin-left 0.2s ease-in;
    }

    h2 {
        /*text-transform: uppercase;
        letter-spacing: 0.15rem;*/
        margin: 0;
    }

    description {
    }
</style>
