---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const transformed_headings = (() => {
    const levels = [];

    for (const heading of headings) {
        //levels.pop()
        if (levels.length == 0) {
            levels.push(heading);
        }
    }
})();
---

<div>
    {
        headings.map((heading: MarkdownHeading) => (
            <p>
                {">".repeat(heading.depth)} {heading.text}
            </p>
        ))
    }
</div>
